
body {
    text-align: center;
    background-image: url("https://yt3.ggpht.com/a-/AJLlDp3ESrlTaIG4fSXvvBbfLcby6KOusnc6dRVqFw=s900-mo-c-c0xffffffff-rj-k-no");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 25%;

    background-attachment: fixed;
}

h3, h4.inlineblock{
    display: inline-block;
    margin-bottom: 30px}

.aihealue {
    padding: 50px;
}

.kirjoittaja{
    font-weight: bold;
    margin-bottom: 20px;
}

.teksti {
    font-size: 125%;
    margin-left: 20px;
    margin-bottom: 20px;
}

.timestamp {
    float: right;
}

.vastaa {
    margin-bottom: 0px;
}

.posti{
    background-color: #f7f7f7;
    position: relative;
    padding: 10px;
    margin-bottom: 30px;
}

.ylaoikee {
    position: absolute;
    top: 8px;
    right: 16px;

}

.ylavasen {
    position: absolute;
    top: 8px;
    left: 16px;
}

.keski {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: left;
}

.alaoikee {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.levelkaks{
    margin-left: 5%;
}

.levelkolme{
    margin-left: 10%;
}

.levelnelja{
    margin-left: 15%;
}


.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}