<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/tyyli.css" th:href="@{/css/tyyli.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Forum - langat</title>
</head>
<body>
<h2>Admin-etusivu</h2>

<h3>Lisää uusi alue:</h3>
<form th:action="@{luoUusiAihe}" th:object="${uusiAlue}" method="post">
    Nimi: <input th:type="text" th:field="*{nimi}"/>
    <input th:type="submit" th:value="Tallenna"/>
</form>

</body>
</html>