<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/tyyli.css" th:href="@{/css/tyyli.css}"/>
    <title>Forum - aihealueet</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="etusivu.html">Etusivu</a> </li>
        <li><a href="alueet.html"> Foorumi</a></li>
    </ul>
</nav>
<table>
    <h3>Alueet</h3>

    <tr style="font-weight: bold">
        <td>Nimi</td>
        <td>Viestejä</td>
    </tr>

    <tr th:each="alue : ${alueet}">
        <td><a th:href="@{/alue} + '?nimi=' + ${alue.nimi}" th:text="${alue.nimi}"/></td>
        <td th:text="${alue.getViestit().size()}"></td>
    </tr>
</table>

</body>
</html>