<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/tyyli.css" th:href="@{/css/tyyli.css}"/>
    <title>Forum - etusivu</title>
</head>
<body>
<nav class="nav">
    <ul>
        <li><a href="etusivu">Etusivu</a> </li>
        <li><a href="alueet"> Foorumi</a></li>
    </ul>
</nav>
<h1>Koodausfoorumi</h1>
<p>Tervetuloa koodausfoorumille!</p>
<table>
    <tr>
        <th>Viimeiset 10 viestiä</th>
    </tr>
    <tr th:each="lanka : ${uudet}">
        <td th:text="${lanka.getOtsikko()}"></td>
    </tr>
</table>

</body>

</html>