<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/tyyli.css" th:href="@{/css/tyyli.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Forum - etusivu</title>
</head>
<body>
<div th:replace="nav :: navbar"/>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8 text-left">
            <h3>Koodausfoorumi</h3>
            <p>Tervetuloa koodausfoorumille!</p>
            <div class="table-responsive">
<table class="table" >
    <tr>
        <th>Viimeiset 10 viestiä</th>
    </tr>
    <tr th:each="lanka : ${limited}">
        <td><a th:href="@{/naytaViestiketju} + '?id=' + ${lanka.getViesti_id()}" th:text="${lanka.getOtsikko()}"/></td>
        <td th:text="${lanka.getAika()}"></td>
    </tr>
</table>
            </div>
        </div>
    </div>

</div>

</div>
</body>

</html>