<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/tyyli.css" th:href="@{/css/tyyli.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Forum - etusivu</title>
</head>
<body>
<nav class="nav">
    <ul>
        <li><a href="etusivu">Etusivu</a> </li>
        <li><a href="alueet"> Foorumi</a></li>
    </ul>
</nav>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8 text-left">
            <h3>Koodausfoorumi</h3>
            <p>Tervetuloa koodausfoorumille!</p>
            <div class="table-responsive">
<table class="table" >
    <tr>
        <th>Haetut viestit</th>
    </tr>
    <tr th:each="hv : ${haetutViestit}">
        <td><a th:href="@{/naytaViestiketju} + '?id=' + ${hv.getViesti_id()}" th:text="${hv.getTeksti()}"/></td>
        <td th:text="${hv.getAika()}"></td>
    </tr>
</table>
            </div>
        </div>
    </div>
</div>

</body>

</html>