<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/tyyli.css" th:href="@{/css/tyyli.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Forum - etusivu</title>
    <link href="static/img/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body>
<div th:replace="nav :: navbar"/>
<div class="container-fluid text-center">


    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8 text-left">

            <div style="margin-left: 20%">
                <div class="table-responsive">
                    <table class="table" style="margin-bottom: 30px;">
                        <h3>Löydetyt viestit</h3>

                        <tr th:each="hv : ${haetutViestit}">
                            <td><a th:href="@{/naytaViestiketju} + '?id=' + ${hv.getViesti_id()}"
                                   th:text="${hv.getTeksti()}"/></td>
                            <td th:text="${hv.getAika().toLocalDate() + ' - ' + hv.getAika().toLocalTime()}"></td>
                        </tr>
                    </table>

                    <table class="table">
                        <h3>Löydetyt nimimerkit</h3>
                        <tr th:each="hk : ${haetutviestitkirjoittaja}">
                            <td th:text="${hk.getKirjoittaja().username}"></td>
                            <td><a th:href="@{/naytaViestiketju} + '?id=' + ${hk.getViesti_id()}"
                                   th:text="${hk.getTeksti()}"/></td>
                            <td th:text="${hk.getAika().toLocalDate() + ' - ' + hk.getAika().toLocalTime()}"></td>
                        </tr>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>

</body>

</html>