<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Forum - vastaa viestiin</title>
</head>
<body>
<nav class="nav">
    <ul>
        <li><a href="etusivu">Etusivu</a> </li>
        <li><a href="alueet"> Foorumi</a></li>
    </ul>
</nav>
<form th:action="@{luoUusiVastaus}" th:object="${uusiViesti}" method="post">
    <input th:field="*{parent}" hidden/>
    <input th:field="*{alue}" hidden/>
    Kirjoittaja: <input th:type="text" th:field="*{kirjoittaja}"/><br/>
    Teksti: <textarea th:field="*{teksti}" th:rows="4" th:cols="50" required="required"/><br/>
    <input th:type="submit" th:value="Lähetä"/>
</form>
</body>
</html>