<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/tyyli.css" th:href="@{/css/tyyli.css}"/>
    <title>Forum - langat</title>
</head>
<body>

<table>
    <tr style="font-weight: bold">
        <td>Otsikko</td>

    </tr>

    <tr th:each="lanka : ${langat}">
        <td><a th:href="@{/naytaViestiketju} + '?id=' + ${lanka.getViesti_id()}" th:text="${lanka.getOtsikko()}"/></td>
    </tr>
</table>

</body>
</html>