<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/tyyli.css" th:href="@{/css/tyyli.css}"/>
    <title>Forum - langat</title>
</head>
<body>

<table th:object="${alue}">
    <tr style="font-weight: bold">
        <td>Otsikko</td>
        <td>Lähettäjä</td>
        <td>Viesti</td>
        <td>Lähetetty</td>
    </tr>

    <tr th:each="viesti : ${alue.getViestit()}">
        <td th:text="${viesti.getOtsikko()}"></td>
        <td th:text="${viesti.getKirjoittaja()}"></td>
        <td th:text="${viesti.getTeksti()}"></td>
        <td th:text="${viesti.getAika()}"></td>
    </tr>
</table>

</body>
</html>