<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/tyyli.css" th:href="@{/css/tyyli.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="static/img/favicon.ico" rel="icon" type="image/x-icon" />
    <title>Title</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="#"> <img th:src="@{/images/logo2.png}" alt="logo" style="width: 180px;"></a> </li>
            <li><a href="etusivu">Kotisivu</a></li>
            <li><a href="alueet">Keskustelut</a></li>
        </ul>
        <form class="navbar-form navbar-left"  action="/haku" method="POST">
            <div class="form-group">
            <input class="form-control" type="text" name="hakusana" placeholder="Hakusana" />
            </div>
            <input class="btn btn-default" type="submit" value="Hae"/>
        </form>

        <ul class="nav navbar-nav navbar-right">
            <li th:if="${auth != null}"><a href="/kayttaja" th:text="${auth.getName()}" style="color: white; font-weight: bold"></a></li>
            <li th:if="${auth == null}"><a href="#" style="color: white; font-weight: bold">Vierailija</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" th:if="${auth == null}">
            <li><a href="rekisteroityminen"><span class="glyphicon glyphicon-user"></span> Rekisteröidy</a></li>
            <li><a href="login"><span class="glyphicon glyphicon-log-in" ></span> Kirjaudu sisään</a></li>
        </ul>
        <form class="navbar-form navbar-right" th:if="${auth != null}" th:action="@{/logout}">
            <div class="form-group">
                <input class="btn btn-default" type="submit" value="Kirjaudu ulos"/>
            </div>
        </form>

    </div>

</nav>

</body>
</html>