<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/tyyli.css" th:href="@{/css/tyyli.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Rekisteröidy käyttäjäksi</title>
    <link href="static/img/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body>
<div th:replace="nav :: navbar"/>
<div class="container-fluid text-center" style="margin-top: 30px">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8 text-left">
            <form class="form-horizontal" th:action="@{/rekisteroi}" th:object="${uusiKayttaja}" method="post">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <div class="col-sm-offset-2 col-sm-10" style="margin-bottom: 30px">
                                <h2>Rekisteröidy käyttäjäksi</h2>
                            </div>
                        </tr>

                        <tr>
                            <div class="col-sm-offset-2 col-sm-8">
                                <div class="well" style="width: 80%;">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" th:field="*{username}"
                                                   placeholder="Käyttäjänimi"
                                                   required=""
                                                   autofocus="" style="margin-bottom: 10px;"/>
                                        </div>
                                        <div class="col-sm-12">
                                            <input type="password" class="form-control" th:field="*{password}"
                                                   placeholder="Salasana"
                                                   required="" style="margin-bottom: 10px;"/>
                                        </div>
                                        <div>
                                            <input type="hidden" th:field="*{active}"/>
                                            <input type="hidden" th:field="*{rooli.role}"/>
                                        </div>
                                        <div class="col-sm-12">
                                            <input class="btn btn-success" type="submit" th:value="Rekisteröidy"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
</html>