<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/tyyli.css" th:href="@{/css/tyyli.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Forum - uusi viestiketju</title>
</head>
<body>

<div th:replace="nav :: navbar"/>
<div class="container-fluid text-center" style="margin-top: 30px">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>

        <div class="col-sm-8 text-left">
            <form class="form-horizontal" action="/action_page.php" th:action="@{/viestiketjut}"
                  th:object="${uusiViesti}" method="post">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <div class="col-sm-offset-2 col-sm-10" style="margin-bottom: 30px">
                                <h2>Uusi keskustelu</h2>
                            </div>
                        </tr>

                        <tr>
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="well">
                                    <!--<div class="form-group">-->
                                        <!--<label class="control-label col-sm-2">Otsikko</label>-->
                                        <!--<div class="col-sm-10">-->
                                            <!--<input class="form-control" th:type="text" th:field="*{otsikko}"-->
                                                   <!--required="required" placeholder="Kirjoita otsikko">-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="otsikko">Otsikko</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" th:type="text" th:field="*{otsikko}" required="required"
                                                   placeholder="Kirjoita otsikko"
                                                   id="otsikko">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Nimimerkki</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" th:if="${auth == null}" th:field="*{kirjoittaja}" required="required"
                                                   placeholder="Nimimerkki">
                                            <input class="form-control" th:unless="${auth == null}" th:field="${auth.name}"
                                                   required="required"
                                                   th:placeholder="${auth.name}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="teksti">Viesti</label>
                                        <div class="col-sm-10">
            <textarea class="form-control" th:rows="4" th:cols="50" th:type="text" th:field="*{teksti}" required="required"
                      placeholder="Kirjoita viesti" id="teksti"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <input class="btn btn-success" th:type="submit" th:value="Lähetä"/>
                                            <button type="reset" class="btn btn-warning">Tyhjennä</button>
                                        </div>
                                    </div>

                                    <input type="hidden" name="alue.nimi" th:value="*{alue.nimi}"/>
                                </div>
                            </div>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>