<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/tyyli.css" th:href="@{/css/tyyli.css}"/>
    <title>Forum - uusi viestiketju</title>
</head>
<body>
<nav class="nav">
    <ul>
        <li><a href="etusivu.html">Etusivu</a> </li>
        <li><a href="alueet.html"> Foorumi</a></li>
    </ul>
</nav>
<form th:action="@{/viestiketjut}" th:object="${uusiviesti}" method="post">
    <input th:field="*{alue}" hidden/>
    <input th:field="*{aika}" hidden/>
    <p>Otsikko: <input th:type="text" th:field="*{otsikko}" required="required"/></p>
    <p>Kirjoittaja: <input th:type="text" th:field="*{kirjoittaja}"/></p>
    <p>Viesti: <textarea th:rows="4" th:cols="50" th:type="text" th:field="*{teksti}" required="required"/></p>
    <p><input type="submit" value="Lähetä" /> <input type="reset" value="Tyhjennä" /></p>
</form>

</body>
</html>