<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/tyyli.css" th:href="@{/css/tyyli.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Forum - viestiketjut</title>
</head>
<body>

<nav class="nav">
    <ul>
        <li><a href="etusivu">Etusivu</a> </li>
        <li><a href="alueet"> Foorumi</a></li>
    </ul>
</nav>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8 text-left">
            <h3 th:text="${viesti.getOtsikko()}"></h3>
            <div class="table-responsive">
<table class="table">
    <tr>
        <div style="border: 1px solid black">
            <div class="kirjoittaja">
                <p th:text="${viesti.kirjoittaja}"></p>
            </div>
            <div class="teksti">
                <p th:text="${viesti.teksti}"></p>
            </div>
            <div class="timestamp">
                <p th:text="${viesti.aika}"></p>
            </div>
            <div>
                <a th:href="'/vastaa?id='+${viesti.viesti_id}"><button type="button">Vastaa</button> </a>
            </div>
        </div>
    </tr>
    <tr th:each="v : ${viesti.getLapset()}" th:object="${v}">
        <div style="border: 1px solid black">
            <div class="kirjoittaja">
                <p th:text="*{kirjoittaja}"></p>
            </div>
            <div class="teksti">
                <p th:text="*{teksti}"></p>
            </div>
            <div class="timestamp">
                <p th:text="*{aika}"></p>
            </div>
            <div>
                <a th:href="'/vastaa?id='+*{viesti_id}"><button type="button">Vastaa</button> </a>
            </div>
            <div class="level2" style="text-indent: 50px" th:each="v2: ${v.getLapset()}" th:object="${v2}">
                <div class="kirjoittaja">
                    <p th:text="*{kirjoittaja}"></p>
                </div>
                <div class="teksti">
                    <p th:text="*{teksti}"></p>
                </div>
                <div class="timestamp">
                    <p th:text="*{aika}"></p>
                </div>
            </div>
        </div>
    </tr>
</table>
            </div>
        </div>
    </div>
</div>

</body>
</html>