<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/tyyli.css" th:href="@{/css/tyyli.css}"/>
    <title>Forum - viestiketjut</title>
</head>
<body>

<nav class="nav">
    <ul>
        <li><a href="etusivu">Etusivu</a> </li>
        <li><a href="alueet"> Foorumi</a></li>
    </ul>
</nav>
<h2 th:text="${viesti.getOtsikko()}"></h2>
<table>
    <tr>
        <div style="border: 1px solid black">
            <div class="kirjoittaja">
                <p th:text="${viesti.kirjoittaja}"></p>
            </div>
            <div class="teksti">
                <p th:text="${viesti.teksti}"></p>
            </div>
            <div class="timestamp">
                <p th:text="${viesti.aika}"></p>
            </div>
            <div>
                <a th:href="'/vastaa?id='+${viesti.viesti_id}"><button type="button">Vastaa</button> </a>
            </div>
        </div>
    </tr>
    <tr th:each="v : ${viesti.getLapset()}" th:object="${v}">
        <div style="border: 1px solid black">
            <div class="kirjoittaja">
                <p th:text="*{kirjoittaja}"></p>
            </div>
            <div class="teksti">
                <p th:text="*{teksti}"></p>
            </div>
            <div class="timestamp">
                <p th:text="*{aika}"></p>
            </div>
            <div>
                <a th:href="'/vastaa?id='+*{viesti_id}"><button type="button">Vastaa</button> </a>
            </div>
            <div class="level2" style="text-indent: 50px" th:each="v2: ${v.getLapset()}" th:object="${v2}">
                <div class="kirjoittaja">
                    <p th:text="*{kirjoittaja}"></p>
                </div>
                <div class="teksti">
                    <p th:text="*{teksti}"></p>
                </div>
                <div class="timestamp">
                    <p th:text="*{aika}"></p>
                </div>
            </div>
        </div>
    </tr>
</table>

</body>
</html>